.styleFront {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.frontFive{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.frontSix{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.frontSeven{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

